<main class="main">
  <div class="content">
    <div class="left-side">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Enter Email Id</span>
        <input type="text" class="form-control" [(ngModel)]="email" id="emailId" aria-describedby="basic-addon3" [readonly]="editRow">
      </div>
      <hr>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Enter Contact Group</span>
        <input type="text" class="form-control" [(ngModel)]="group" id="group" aria-describedby="basic-addon3">
      </div>
      OR select from the options below:
      <div class="form-check" *ngFor="let group of userGroup; let i = index">
        <input class="form-check-input" [(ngModel)]="option" type="radio" id="group{{i+1}}" value="{{group}}" (click)="setGroup(i)" [checked]="option">
        <label class="form-check-label" for="group{{i+1}}">{{group}}</label>
      </div>
      <div class="mt-5">
        <button class="btn btn-primary" *ngIf="!editRow" (click)="addUser()">Add</button>
        <button class="btn btn-danger" *ngIf="editRow" (click)="changeEdit(false)">Discard Changes</button>
        <button class="btn btn-primary mx-1" *ngIf="editRow" (click)="edit()">Apply Changes</button>
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">S. No</th>
            <th scope="col">Email</th>
            <th scope="col">Contact group</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of userData; let i = index">
            <th class="form-check-label" colspan="1">{{i+1}}</th>
            <td class="form-check-label">{{data.email}}</td>
            <td class="form-check-label">{{data.group}}</td>
            <td colspan="3">
              <button (click)="changeEditRow(i); changeEdit(true)" class="btn btn-warning">Edit</button>
              <button class="btn btn-danger mx-1" (click)="delete(i)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>